Repository KinsonDigital/Infrastructure, pull requests merged in 2023-06, with the labels that each got.

#24 🚧Create CICD scripts for org
  .vscode/launch.json
  .vscode/settings.json
  cicd/core/Directory.ts
  cicd/core/Enums.ts
  cicd/core/File.ts
  cicd/core/GraphQLClient.ts
  cicd/core/GraphQLMutations/AddToProjectMutation.ts
  cicd/core/GraphQLQueries/GetOrgProjectsQueries.ts
  cicd/core/Guard.ts
  cicd/core/IssueClient.ts
  cicd/core/LabelClient.ts
  cicd/core/MilestoneClient.ts
  cicd/core/Models/GraphQLModels/ErrorModel.ts
  cicd/core/Models/GraphQLModels/LocationModel.ts
  cicd/core/Models/GraphQLModels/RequestResponseModel.ts
  cicd/core/Models/ICommitModel.ts
  cicd/core/Models/IIssueModel.ts
  cicd/core/Models/ILabelModel.ts
  cicd/core/Models/IMilestoneModel.ts
  cicd/core/Models/IProjectModel.ts
  cicd/core/Models/IPullRequestModel.ts
  cicd/core/Models/IRepoModel.ts
  cicd/core/Models/ITagModel.ts
  cicd/core/ProjectClient.ts
  cicd/core/PullRequestClient.ts
  cicd/core/RESTClient.ts
  cicd/core/RepoClient.ts
  cicd/core/ScriptDescriptions.ts
  cicd/core/TagClient.ts
  cicd/core/Types.ts
  cicd/core/Utils.ts
  cicd/playground.ts
  cicd/scripts/add-item-to-project.ts
  cicd/scripts/close-milestone.ts
  cicd/scripts/label-if-head-branch.ts
  cicd/scripts/milestone-exists.ts
  cicd/scripts/milestone-items-all-closed.ts
  cicd/scripts/release-notes-exist.ts
  cicd/scripts/script-descriptions/release-notes-exist.txt
  cicd/scripts/script-descriptions/validate-release-notes.txt
  cicd/scripts/script-descriptions/validate-tag.txt
  cicd/scripts/validate-release-notes.ts
  cicd/scripts/validate-tag.ts
  cicd/validate-notes.ts
  cicd/validate-tag.ts
  deno.json
Labels: high priority, ♻️cicd

#26 🚧Create script to validate versions
  .vscode/launch.json
  cicd/core/MilestoneClient.ts
  cicd/scripts/add-item-to-project.ts
  cicd/scripts/close-milestone.ts
  cicd/scripts/label-if-head-branch.ts
  cicd/scripts/milestone-exists.ts
  cicd/scripts/milestone-items-all-closed.ts
  cicd/scripts/release-notes-exist.ts
  cicd/scripts/validate-release-notes.ts
  cicd/scripts/validate-tag.ts
  cicd/scripts/validate-version.ts
  deno.lock
Labels: high priority, ♻️cicd

#30 🚧Remove script description code
  cicd/scripts/add-item-to-project.ts
  cicd/scripts/close-milestone.ts
  cicd/scripts/label-if-head-branch.ts
  cicd/scripts/milestone-exists.ts
  cicd/scripts/milestone-items-all-closed.ts
  cicd/scripts/release-notes-exist.ts
  cicd/scripts/validate-release-notes.ts
  cicd/scripts/validate-tag.ts
  cicd/scripts/validate-version.ts
Labels: high priority, ♻️cicd

#31 🚧Fix logging issue
  cicd/core/Types.ts
  cicd/scripts/add-item-to-project.ts
Labels: low priority, ♻️cicd

#28 🚧Create twitter announcement script
  .vscode/launch.json
  cicd/core/Directory.ts
  cicd/core/File.ts
  cicd/core/Models/ITwitterAuthValues.ts
  cicd/core/ReleaseTweetBuilder.ts
  cicd/core/ScriptDescriptions.ts
  cicd/core/TwitterClient.ts
  cicd/core/Utils.ts
  cicd/release-tweet-template.txt
  cicd/scripts/release-notes-exist.ts
  cicd/scripts/send-release-tweet.ts
  cicd/scripts/validate-tag.ts
  cicd/scripts/validate-version.ts
  deno.lock
Labels: high priority, ♻️cicd

#33 🚧Create NuGet pkg check script
  .vscode/launch.json
  .vscode/settings.json
  cicd/clients/IssueClient.ts
  cicd/clients/LabelClient.ts
  cicd/clients/MilestoneClient.ts
  cicd/clients/NuGetClient.ts
  cicd/clients/ProjectClient.ts
  cicd/clients/PullRequestClient.ts
  cicd/clients/RepoClient.ts
  cicd/clients/TagClient.ts
  cicd/clients/TwitterClient.ts
  cicd/core/Enums.ts
  cicd/core/GitHubClient.ts
  cicd/core/GraphQLClient.ts
  cicd/core/Utils.ts
  cicd/core/WebAPIClient.ts
  cicd/scripts/add-item-to-project.ts
  cicd/scripts/close-milestone.ts
  cicd/scripts/label-if-head-branch.ts
  cicd/scripts/milestone-exists.ts
  cicd/scripts/milestone-items-all-closed.ts
  cicd/scripts/nuget-pkg-does-not-exist.ts
  cicd/scripts/send-release-tweet.ts
  cicd/scripts/validate-release-notes.ts
  cicd/scripts/validate-tag.ts
Labels: high priority, ♻️cicd

#35 🚧Sanitize script version argument
  cicd/scripts/validate-version.ts
Labels: high priority, ♻️cicd

#37 🚧Fix validate tag args
  cicd/scripts/validate-tag.ts
Labels: 🐛bug, high priority, ♻️cicd

#40 🚧Fix args checking issue
  cicd/scripts/nuget-pkg-does-not-exist.ts
Labels: 🐛bug, high priority, ♻️cicd

#44 🚧Fix release type arg checks
  cicd/scripts/release-notes-exist.ts
Labels: 🐛bug, high priority, ♻️cicd

#46 🚧Fix a bug when the pr client url
  cicd/clients/PullRequestClient.ts
  cicd/core/Utils.ts
  cicd/scripts/add-item-to-project.ts
  http-requests/github-requests.http
Labels: 🐛bug, high priority, ♻️cicd

#61 🚧Fix pagination bug in scripts
  .vscode/launch.json
  cicd/clients/OrgClient.ts
  cicd/core/GitHubClient.ts
  cicd/core/ILinkHeader.ts
  cicd/core/Utils.ts
  cicd/scripts/in-sync-check.ts
  cicd/scripts/milestone-items-all-closed.ts
  cicd/scripts/runners/SyncBotStatusCheckRunner.ts
  cicd/scripts/sync-bot-status-check.ts
  cicd/scripts/sync-issue-to-pr.ts
  cicd/scripts/validate-release-notes.ts
  cicd/scripts/validate-tag.ts
Labels: 🐛bug, high priority, ♻️cicd

#64 🚧Add improvements
  .github/workflows/sync-bot-status-check.yml
  .github/workflows/sync-issue-to-pr.yml
  .github/workflows/validate-milestone-status.yml
  .github/workflows/validate-release-notes.yml
  .github/workflows/validate-tag.yml
  cicd/clients/OrgClient.ts
  cicd/clients/ProjectClient.ts
  cicd/clients/RepoClient.ts
  cicd/core/GraphQLClient.ts
  cicd/core/Models/IOrgVarModel.ts
  cicd/core/Models/IOrgVariablesModel.ts
  cicd/core/Models/IRepoVarModel.ts
  cicd/core/Models/IRepoVariablesModel.ts
  cicd/scripts/runners/SyncBotStatusCheckRunner.ts
  cicd/scripts/sync-issue-to-pr.ts
Labels: 🐛bug, high priority, ♻️cicd

#66 🚧Fix sync template issue
  .vscode/launch.json
  cicd/core/PRTemplateManager.ts
  cicd/scripts/runners/SyncBotStatusCheckRunner.ts
  cicd/scripts/sync-issue-to-pr.ts
Labels: 🐛bug, high priority, ♻️cicd

#68 🚧Fix status check arg processing
  cicd/scripts/runners/SyncBotStatusCheckRunner.ts
Labels: 🐛bug, high priority, ♻️cicd

#73 🚧Fix label client bug
  cicd/clients/LabelClient.ts
Labels: 🐛bug, high priority, ♻️cicd

#71 🚧Simple improvements
  .github/workflows/validate-release-notes.yml
Labels: low priority, ♻️cicd

#74 🚧Remove reviewer as status check
  .github/workflows/sync-bot-status-check.yml
  .github/workflows/sync-issue-to-pr.yml
  cicd/core/IPRTemplateSettings.ts
  cicd/core/PRTemplateManager.ts
  cicd/scripts/runners/SyncBotStatusCheckRunner.ts
  cicd/scripts/sync-issue-to-pr.ts
  cicd/templates/pr-sync-status-template.txt
Labels: high priority, ♻️cicd
